@model ParkWhere.Models.PetrolStation
@using Jmelosegui.Mvc.GoogleMap


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PetrolStation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.petrolStationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.petrolStationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

    </dl>

    @{
        List<double> CoordinatesX = new List<double>();
        List<double> CoordinatesY = new List<double>();

    }
    <script>
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude

                    };
                    CoordinatesX.Add( pos.lat);
                    CoordinatesY.Add(pos.lng);

                    //alert('Location found.');
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            }
    </script>

    @{CoordinatesX.Add(Model.latitude); }
    @{CoordinatesY.Add(Model.longitude); }





    @section scripts
    {
        @(Html.GoogleMap().ScriptRegistrar())
    }
    @(
 Html.GoogleMap()

        .Name("map")
        .Height(500)
        .Center(c => c.UseCurrentPosition())
        .Zoom(3)

        .Polylines(pf => pf.Add()
                        .Points(ptn =>
                        {
                            ptn.Add(CoordinatesX[0], CoordinatesY[0]);
                            ptn.Add(1.3983, 103.909);
                        })

                        .StrokeColor(System.Drawing.Color.DarkBlue)
                  )
    )
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
